@import "../../vars.css";

.container {
  margin-top: 76px;
  color: #79084ca6;
  margin-left: 10%;
  margin-right: 10%;
  z-index: 5;
}

.title {
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.projects {
  margin-top: 37px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  align-items: stretch;   
  gap: 20px;
  width: 100%;
}