@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 120px;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%  ;
  box-sizing: border-box;
  padding: 58px 5%;
  gap: 10px;
  z-index: 5;
}

.text h2 {
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 4px;
}

.text p {
  font-size: 35px;
  font-weight: 400;
  letter-spacing: 2px;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  gap: 26px;
}

.link {
  display: flex;
  align-items: center;
  gap: 15px;
}

.link a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1.5px;
    word-break: break-word;
  overflow-wrap: anywhere;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    gap: 23px;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .links {
    align-items: center;
  }
}