@import "../../vars.css";

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 49px;
    z-index: 3;
    margin-left: 10%;
    margin-right: 10%;

}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-text);
    z-index: 1;
}

.title {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 33px;
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
    background: linear-gradient(90deg, rgba(213, 93, 146, 1) 0%, rgba(82, 46, 56, 1) 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.subTitle {
    font-size: 72px;
    font-weight: 900;
    color: var(--color-text);
    margin-bottom: 33px;
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;

}

.description {
  font-size: 30px;
  font-family: var(--font-roboto);
  margin-bottom: 52px;
}

.Buttons {
  display: flex;
  align-items: flex-start;
  list-style: none;
  gap: 26px;

}
.contactBtn {
  text-decoration: none;
  background-color: var(--color-primary);
  color: var(--color-text);
  border-radius: 80px;
  font-size: 20px;
  font-weight: 600;
  padding: 17px 26px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modalContent {
  width: 50%;            
  height: 90%;         
  background: white;
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;      
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 10000;
}

.modalContent iframe {
  flex: 1;              
  width: 100%;
  border: none;
  z-index: 9999;
}

.closeBtn {
  position: absolute;
  top: 2px;
  right: 11px;
  background: var(--color-primary);
  color: white;
  border: none;
  padding: 2px 8px;
  border-radius: 5px;
  cursor: pointer;
}

.heroImg {
  width: 50%;
  z-index: 1;

  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.topBlur {
  position: absolute;
  width: 50vw;
  height: 50vw;
  min-width: 350px;
  min-width: 350px;
  top: -128px;
  left: -10vw;
  border-radius: 764px;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);
  z-index: 0;
}

.bottomBlur {
  position: absolute;
  width: 50vw;
  height: 50vw;
  min-width: 350px;
  min-width: 250px;
  top: 246px;
  right: -9vw;
  border-radius: 764px;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);
  z-index: 0;
}


@media screen and (max-width: 830px) {
  .container {
    flex-direction: column-reverse;
  }

  .content {
    align-items: center;
  }
}