:root {
    /* Colors */
    --color-text: #ffc2d4;
    --color-primary: #ff7aa2;
    --color-secondary: #e05780;
    --color-dark: #fb74a8;
    --color-bg: #602437;

    /* Fonts */
    --font-robot: "Roboto"

#fb74a8

}